{% capture navbar %}{% if page.navbar %}{{ page.navbar }}{% else %}{{ site.navbar }}{% endif %}{% endcapture %}
    <div class="navbar navbar-default navbar-fixed-top navbar-{{ navbar }}">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a> 
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="results">Tools <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ site.baseurl }}/dc.html">Inroduction</a></li>
                <li><a href="{{ site.baseurl }}/install.html">Installation</a></li>
                <li><a href="{{ site.baseurl }}/usage.html">Usage</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">R packages</li>
                <li><a href="https://github.com/datacloning/dclone">dclone</a></li>
                <li><a href="https://github.com/datacloning/dcmle">dcmle</a></li>
                <li><a href="https://github.com/datacloning/dcextras">dcextras</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="resources">Resources <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ site.baseurl }}/documentation.html">Documentation</a></li>
                <li><a href="{{ site.baseurl }}/tutorials/">Tutorials</a></li>
                <li><a href="https://github.com/datacloning/dcexamples/">Examples</a></li>
                <li><a href="{{ site.baseurl }}/courses/">Courses</a></li>
                <li><a href="{{ site.baseurl }}/publications.html">Publications</a></li>
                <li><a href="{{ site.baseurl }}/talks.html">Talks</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="resources">Help <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ site.baseurl }}/faq.html">FAQ</a></li>
                <li><a href="{{ site.baseurl }}/forum.html">Forum</a></li>
            	<li><a href="{{ site.baseurl }}/issues.html">Issues</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/search.html">Search</a></li>
          </ul>
        </div>
      </div>
    </div>
