<!DOCTYPE html>
<html lang="en">
<head>
{% include _head.html %}
{% include _highlight.html %}
</head>
<body>
{% include _navigation.html %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if page.title %}
                {% if page.subtitle %}
                    <h1 class="title">{{ page.title }}</h1>
                    <h2 class="subtitle">{{ page.subtitle }}</h2>
                {% else %}
                    <h1 class="title">{{ page.title }}</h1>
                {% endif %}
            {% endif %}
            <p id="post-meta">Posed on {{ page.date | date: '%B %d, %Y' }} by <a href="http://peter.solymos.org">P&eacute;ter S&oacute;lymos</a><br />

            {% if page.category %}Category: <a href="#" class="btn btn-info btn-xs">{{ page.category | capitalize }}</a>{% endif %}<br />
            {% if page.tags %}{% for tag in page.tags %}<a href="#" class="btn btn-success btn-xs">{{ tag | capitalize }}</a> {% endfor %}{% endif %}</p>
<!-- content starts here %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

            {{ content }}

<!-- content ends here %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
        </div>
    </div>
</div>

{% include _footer.html %}
</body>
</html>
